{% extends 'base.html.twig' %}

{% block title %}
    La carte
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="jumbotron text-center">
            <h1>Bienvenue sur la carte de Quai Antique!</h1>
            <p>Goutez aux saveurs Savoyardes</p>
            {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}