
{% extends 'base.html.twig' %}

{% block title %}Réservez votre table
{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="mt-4">Réserver votre table</h1>
        {{ form(formAllergy) }}{% endblock %}