{% extends 'base.html.twig' %}

{% block title %}
    Quai Antique
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="jumbotron text-center">
            <h1>Bienvenue sur Quai Antique!</h1>
            <p>Goutez aux saveurs Savoyardes</p>
        </div>
    </div>
{% endblock %}

