ul.meals {
  padding: 0;
}

.meals li {
  list-style: none;
  text-align: center;
  margin: 10px;
}

.meals li a {
  text-decoration: none;
  color: $firstColor;
}

.meals li a:hover {
  color: $secondColor;
  text-decoration: underline 1px;
  text-underline-offset: 6px;
}

h5#title {
  font-family: $secondText;
  font-size: 2.2em;
}
