{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité
{% endblock %}

{% block body %}

	<div class="container mt-4 politique-de-confidentialité text-center">
		<h1>Politique de confidentialité</h1>

		<p class="p-2">Nous sommes soucieux de la protection de votre vie privée et nous nous engageons à assurer la confidentialité des informations personnelles que vous nous fournissez.</p>

		<h2 class="p-2">Collecte des informations personnelles</h2>

		<p>Nous ne collectons vos informations personnelles que lorsque vous nous les fournissez directement, par exemple lorsque vous remplissez un formulaire de contact ou d'inscription à notre newsletter.</p>

		<h2 class="p-2">Utilisation des informations personnelles</h2>

		<p>Nous n'utilisons vos informations personnelles que pour vous fournir les services que vous avez demandés, comme l'envoi de newsletters ou la réponse à une demande de contact. Nous ne communiquons pas vos informations à des tiers sauf si cela est nécessaire pour vous fournir les services demandés ou si nous y sommes légalement obligés.</p>

		<h2 class="p-2">Sécurité des informations personnelles</h2>

		<p>Nous prenons toutes les mesures nécessaires pour protéger vos informations personnelles contre la perte, le vol ou l'utilisation abusive. Nous utilisons des protocoles de sécurité avancés pour protéger vos données et nous limitons l'accès aux informations personnelles aux employés qui en ont besoin pour vous fournir les services demandés.</p>

		<h2 class="p-2">Modifications de la politique de confidentialité</h2>

		<p>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Les modifications entreront en vigueur dès leur publication sur notre site web.</p>

		<h2 class="p-2">Contact</h2>

		<p>Si vous avez des questions ou des préoccupations concernant notre politique de confidentialité, n'hésitez pas à nous contacter à l'adresse suivante :
			<a href="mailto:admin@quaiantiqueecflr.fr">serviceclients@quaiantiqueecflr.fr</a>.</p>
	</div>
{% endblock %}