{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
  <div>
    <h1 class="text-center pb-4">
      Bienvenue au sein de l'Administration de Quai Antique
    </h1>
    <h3 class="text-center">
      <a href={{ path('home.index') }}>
        Retourner sur le site
      </a>
    <h3>
  </div>
{% endblock %}