{% extends 'base.html.twig' %}

{% block title %}
	Mentions légales & conditions d'utilisation
{% endblock %}

{% block body %}

	<div class="container mt-4 mention-legal text-center">
		<h1>
			Mentions légales & conditions d'utilisation
        </h1>

		<div class="cell large-8 pageSimple-ctt designTxt p-4">
			
				<h2 class="p-2">PROPRIETE</h2>
			
			<p>Ce site Internet est la propriété de QUAI ANTIQUE, Société Anonyme à Directoire et Conseil de surveillance, dont le siège est au 55, rue Deguingand, 92300 LEVALLOIS-PERRET.<br>
				Immatriculé au RCS Nanterre B 353 559 131. Numéro de TVA : FR59353559131<br>
				Le service chargé du suivi du site est le service : Direction informatique du groupe QUAI ANTIQUE : 1, rue Pablo Picasso 95190 GOUSSAINVILLE. <br>
                Numéro de téléphone : 01.65.95.97.97<br>
				Réalisation : Phalente Robyn</p>
			
		
				<h2 class="p-2">CONDITION D’ACCES ET D’UTILISATION</h2>
			
			<p>
            L’utilisateur du site www.quaiantiqueecflr.fr reconnaît disposer de la compétence et des moyens nécessaires pour accéder à et utiliser ce site.
            </p>
			
		
				<h2 class= "p-2">MISES EN GARDE GENERALES</h2>
			
			<p>QUAI ANTIQUE met tout en œuvre pour offrir aux utilisateurs des informations et/ou outils disponibles et vérifiés. Malgré tous les soins apportés, les informations sont fournies sans garantie d’aucune sorte. Elles sont non contractuelles, peuvent contenir des inexactitudes techniques ou typographiques et sont sujettes à modification sans préavis. QUAI ANTIQUE ne saurait être tenue pour responsable des erreurs, d’une absence. Nous remercions les utilisateurs du site de nous faire part d’éventuelles omissions, erreurs ou corrections, en adressant un courrier électronique à dpomail@quaiantiqueecflr.fr<br>
				De même, QUAI ANTIQUE ne peut être tenue responsable en cas de mauvaise utilisation du service par l’utilisateur ou en cas d’indisponibilité temporaire du service (cas de force majeure, de période de maintenance ou d’incident technique, quel qu’il soit).<br>
				Il est expressément entendu par l’utilisateur de ce site qu’en aucun cas QUAI ANTIQUE ne peut être tenue responsable des dommages quelconques, directs ou indirects, matériels ou immatériels résultant notamment de la consultation et/ou de l’utilisation de ce site web (ou d’autres sites qui lui sont liés) et des éventuelles applications en téléchargement, comme de l’utilisation des informations textuelles ou visuelles, qui auraient pu être recueillies et notamment de tout préjudice financier ou commercial, de pertes de programmes ou de données dans son système d’information. En utilisant ce site, l’utilisateur reconnaît avoir eu la possibilité de prendre connaissance de cet avertissement.</p>
			
		
				<h2 class= "p-2">DROIT DE PROPRIETE INTELLECTUELLE</h2>
			
			<p>Le site Web, sa structure générale, ainsi que les textes, images animées ou non, sons, savoir-faire, dessins, graphismes (…) et tout autre élément composant le site, sont la propriété exclusive de QUAI ANTIQUE.<br>
				Il en est de même des bases de données figurant sur le site web de QUAI ANTIQUE qui sont protégées par les dispositions de la loi du 1er juillet 1998 portant transposition dans le Code de la propriété intellectuelle de la directive européenne du 11 mars 1996 relative à la protection juridique des bases de données, et dont QUAI ANTIQUE est producteur.<br>
				Les marques QUAI ANTIQUE et de ses partenaires, ainsi que les logos figurant sur le site, sont des marques (semi-figuratives ou non) déposées.<br>
				Toute utilisation ou reproduction, totale ou partielle, du site, des éléments qui le composent et/ou des informations qui y figurent, par quelque procédé que ce soit, est strictement interdite et constitue une contrefaçon sanctionnée par le Code de la propriété intellectuelle, sauf accord préalable et écrit<br>
				de QUAI ANTIQUE.</p>
			
		
				<h2 class= "p-2">LIENS</h2>
			
			<p>Nous pouvons proposer des liens vers des sites qui ne sont pas exploités par QUAI ANTIQUE. Si vous visitez l’un de ces sites auxquels nous renvoyons, nous vous invitons à prendre connaissance de leurs politiques, notamment en matière de protection des données personnelles. Nous ne sommes responsables ni des politiques ni des pratiques d’autres sociétés.</p>
			<p>QUAI ANTIQUE s’engage à faire cesser les liens vers d’autres sites internet dès la première demande des entreprises à qui appartiennent les sites faisant l’objet de liens. Les liens hypertextes en direction d’autres ressources présentes sur le réseau Internet ne sauraient engager la responsabilité de QUAI ANTIQUE.</p>
			<p>QUAI ANTIQUE doit donner son autorisation par écrit préalablement à la mise en place d’un lien hypertexte en direction du site www.quaiantiqueecflr.fr et se réserve la possibilité de faire supprimer ce lien à tout moment.</p>
			
			<p>
				<h2 class= "p-2">COMMANDE EN LIGNE</h2>
			</p>
			<p>Les informations communiquées par le client lors de la commande l’engagent et toute erreur dans le libellé de la commande ou dans les coordonnées du destinataire relève de sa responsabilité exclusive. Préalablement à toute validation de sa commande, le Client aura les moyens techniques d’identifier les erreurs commises dans la saisie des données et de les corriger, en revenant sur les différentes étapes du processus de commande et pourra de la même manière modifier le contenu de celle-ci en ajoutant ou en retirant des produits de son panier, depuis la page web récapitulant le contenu du panier avant validation de la commande. Il suffira le cas échéant au Client d’indiquer quel(s) article(s) il souhaite supprimer de son panier avant de valider sa commande.<br>
				Une fois cette vérification effectuée, le Client est invité à valider sa commande et accepter les présentes conditions générales de vente. Les commandes sont effectives dès cette validation effectuée.<br>
				Le Client recevra automatiquement par e-mail, une confirmation écrite comportant l’ensemble des informations relatives aux caractéristiques de sa commande.</p>
			
			<p>
				<h2 class= "p-2">VENTE D’ALCOOL</h2>
			</p>
			<p>La vente d’alcool est strictement interdite à toute personne âgée de moins de 18 ans.<br>
				En acceptant les présentes conditions générales de vente, le client reconnait expressément être majeur.</p>
			
			<p>
				<h2 class= "p-2">DROIT DE RÉTRACTATION</h2>
			</p>
			<p>Selon les dispositions de l’article L.121-20-2 3° du Code de la Consommation, le droit de rétractation applicable en matière de vente à distance ne peut être exercé dans le cas de la fourniture de biens qui du fait de leur nature sont susceptibles de se détériorer ou de se périmer rapidement.<br>
				En application de ce texte, le client ne dispose pas du délai de 14 jours pour exercer son droit de rétraction, toute commande sur le Site étant ferme et définitive.</p>
			
			<p>
				<h2 class= "p-2">OFFRE</h2>
			</p>
			<p>Toute offre de produits proposée dans le cadre de la commande s’entend sous réserve des stocks disponibles. La disponibilité des produits est effectuée en temps réel en restaurant, avant la validation de la commande. Néanmoins, en cas d’indisponibilité d’un produit (notamment un ingrédient), le Client en sera directement informé lors de son arrivée en restaurant afin de trouver une solution de remplacement ou de procéder à l’annulation de la commande.<br>
				Les produits proposés sont conformes à la législation française et communautaire en vigueur.</p>
			
		
				<h2 class= "p-2">RECLAMATION – CONTACT</h2>
			
			<p>
                Si vous avez une réclamation à formuler à propos du contenu du Site ou de votre expérience dans l’un de nos restaurants, <br>
                vous devez utiliser le formulaire de contact en ligne disponible à l’adresse suivante : <a href="mailto:admin@quaiantiqueecflr.fr"> serviceclients@quaiantiqueecflr.fr</a><br>
				Votre message sera transmis à notre service clients et traité dans les meilleurs délais.
            </p>
			
			<h2 class= "p-2">LOI APPLICABLE</h2>
			
            <p>
            Le Site est soumis à la loi française et à la compétence exclusive des tribunaux français.
            </p>

	    </div>
    </div>
{% endblock %}