{% extends 'base.html.twig' %}

{% block title %}Réservez votre table
{% endblock %}

{% block body %}

    <div class="container mt-4">
        <div class="text-center">
            <h1 class="display-4">Réservez votre table</h1>
                <p class="lead">Attention : Pour tout retard de plus de 20 min <br>
                votre table sera donnée à d'autre clients..!</p>
        </div>

        {{ form_start(formReservation) }}
        {{ form_row(formReservation.Date) }}
        {{ form_row(formReservation.time_slot) }}
        {{ form_end(formReservation) }}

    {% endblock %}

    {% block javascript %}
        <script>
            window.onload = () => {
                let date = document.querySelector("#reservation_Date");
                date.addEventListener("change", function () {
                    let form = this.closest("form");
                    console.log(2);
                });
            }
        </script>
    {% endblock %}