$firstColor: #7a1920;
$secondColor: #8dccd6;
$principalText: "Libre Baskerville", serif;
$secondText: "Italianno", cursive;
$thirdText: "Inter", sans-serif;

.navbar {
  background-color: $firstColor;
}

.navbar a {
  color: $secondColor;
  font-family: $secondText;
  font-size: 2.2em;
}

ul li a.active {
  text-decoration: underline 1px;
  text-underline-offset: 6px;
}

h1,
h2 {
  font-family: $principalText;
}

p {
  font-family: $thirdText;
  font-size: 1.2em;
}

.logo {
  width: 140px;
}

section {
  padding: 1em;
}

.image {
  position: relative;
  width: 400px;
}

.home .slide {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}

.home .slide .content {
  flex: 1 1 40rem;
  text-align: center;
}

.home .slide .image {
  flex: 1 1 40rem;
}

.home .slide .image img {
  width: 100%;
}

.home .slide .content span {
  font-size: 2rem;
  font-family: $principalText;
  color: $secondColor;
}

.home .slide .content h3 {
  margin: 1rem 0;
  font-size: 5rem;
  font-family: $secondText;
  color: var(--black);
  text-transform: capitalize;
}

.swiper {
  width: auto;
  max-width: 1000px;
  height: auto;
  max-height: 650px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: auto;
  max-width: 1000px;
  height: auto;
  max-height: 650px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.image_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-family: $thirdText;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image_overlay > * {
  transform: translateY(40px);
  transition: transform 0.25s;
}

.image_overlay:hover {
  opacity: 1;
}

.image_overlay:hover > * {
  transform: translateY(0);
}

.image_title {
  font-size: 2.8em;
  font-family: $secondText;
}

.image_description {
  font-size: 1em;
  margin-top: 0.25em;
}
