{% extends 'base.html.twig' %}

{% block title %}
    Quai Antique - Inscription    
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center m-4">Formulaire de connexion</h1>
        {{ form(form) }}
    </div>
{% endblock %}